@model HotelProject.ModeloView.RelatorioModelo

@{
    ViewBag.Title = "Relatório de Check Ins";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}



@using (Html.BeginForm())
{
    <legend>Range do relatório</legend>
    
    <div class="editor-label">
        Data inicial :
    </div>
    <div class="editor-field">
        @Html.EditorFor(c => c.DataIni)
    </div>
    <div class="editor-label">
        Data final :
    </div>
    <div class="editor-field">
        @Html.EditorFor(c => c.DataFim)
 
    </div>

    <p>
        <input type="submit" value="Gerar relatorio" class="btn btn-primary" />
    </p>
}

































